{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{{ username }}
<a href="http://127.0.0.1:8000/accounts/login"><button type="button" data-inline="true">{{ "login" }}</button></a>
<a href="http://127.0.0.1:8000/accounts/logout"><button type="button" data-inline="true">{{ "logout" }}</button></a> <br />
<br />

{% if latest_question_list %}
    <table class="questions">
        <caption>Published Polls</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Questions</th>
                <th>result link</th>
            </tr>
        </thead>
        <tbody>
            {% for question in latest_question_list %}
            <tr>
                <th>{{ question.id }}</th>
                <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
                <td><a href="{% url 'polls:results' question.id %}"><button type="button">{{"Results"}}</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <p>{% if message.tags %} {% endif %} {{ message }}</p>
    {% endfor %}
{% endif %}